.StudentPage {
    display: flex;
    justify-content: space-between;
  }
  
  .room-list {
    width: 45%;
    margin-left: 50px;
  }
  
  .room-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: #666 0px 0px 10px;
  }
  
  .seat-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    
  }
  
  .seat {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: #666 0px 0px 10px;
  }
  
  .empty-seat {
    background-color: #FFE6CB;
    color:black;
    text-align: center;
    padding: 60px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom:10px;
    border-radius: 15px;
  }
  
  .student-actions {
    width: 45%;
  }
  
  .student-actions h2 {
    margin-bottom: 10px;
  }
  

.Modal {
    position: fixed;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%; 
    max-height: 80%; 
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
  }
  
  .Modal h2 {
    margin-bottom: 20px;
  }
  
  .Modal form {
    display: flex;
    flex-direction: column;
  }
  
  .Modal form div {
    margin-bottom: 10px;
  }
  
  .Modal form label {
    font-weight: bold;
  }
  
  .Modal form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Modal form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #673AB7;
    color: #fff;
    cursor: pointer;
  }
  
  .Modal form button:hover {
    background-color: #0056b3;
  }
  
  .student-actions {
    position: fixed;
    top: 60%; /* Adjust the top position as needed */
    left: 70%; /* Adjust the left position as needed */
    right: 20px; /* Adjust the right position as needed */
    transform: translateY(-50%);
    z-index: 0; /* Ensure the buttons remain above other content */
  }
  
  .student-actions h2 {
    margin-bottom: 10px;
    align-items: center;
    
  }
  
  .student-actions button1 {
    display: block;
    width: 300px;
    height: 80px;
    padding-top: 30px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px; /* Optional: adjust border-radius if you want rounded corners */
    background-color: #673AB7;
    color: #fff;
    font-size: 24px;
    font-family:sans-serif;
    cursor: pointer;
    text-align: center;
  }
  
  .student-actions button1:hover {
    background-color: #0056b3;
  }
  

  .card {
  width: 300px;
  height: 300px;
  position: fixed;
  margin: auto;
  /* box-shadow: 0px 8px 16px rgb(246, 246, 11,2.2);  */
 
  box-shadow: 0px 8px 16px rgba(236, 8, 8, 1.2); /* Adjusted box shadow on hover */
  border-radius: 50%;
  margin-left: '700px';
  margin-top: '200px';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEEAE1; /* Background color on hover (white) */
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transition effect */
  animation: rotate 5s linear infinite;
}

.card:hover {
 
  background-color: #e6b8b8; /* Initial background color */
  box-shadow: 0px 8px 16px green;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  