.container {
  display: flex;
  position: fixed;
}

.top-box{
  /* style={{ backgroundColor: '#bbd6f0', width: '400px', height: '120px', borderRadius: '15px', marginLeft: '400px', marginTop : '10px' } */
  background-color: #bbd6f0;
  width: 400px;
  height: 100px;
  border-radius: 15px;
  margin-left: 400px;
  margin-top: 10px;
  box-shadow: #bbd6f0 0 0 10px;
}

.back-button{
  /* to the upper-right corner */
  position: fixed;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.text-center {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.student-list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-top: 10px;
  box-shadow: #ccc 0 0 10px;
  padding: 5px;

  width: 95%;

  /* scroll */
  overflow-y: auto;
  max-height: calc(85vh - 40px);

}

.student-ids {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  
}

.student-id {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* styles.css */
.meal-stats {
  background-color: #f3f4f6;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 150%;
  height: 100%;
  margin-top: 140px;
  margin-right: 40x;
}

.info-box1 {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 210px;
}


.info-box1 p:first-child {
  font-weight: bold;
}

.info-box1 p:last-child {
  font-size: 1.1rem;
  color: #333;
}
