.container {
  display: flex;
  margin-left: -12px;
}

.back-button{
  /* to the upper-right corner */
  position: fixed;
  top: 20px;
  right: 30px;
  cursor: pointer;

}

.disbursement-list {
  margin-top: 20px;
  margin-left: 35px;
  width: 42%;
  overflow-y: auto;
  max-height: calc(100vh - 40px);
}

.disbursement-list h2 {
  margin-bottom: 10px;
  color: #333;
}

.month-filter {
  margin-bottom: 20px;
  border-radius: 2px;
  width: 117px;
}
.month-filter select {
  padding: 8px;
  font-size: 16px;
  background-color: #52a6ff;
  border: white 2px solid;
  border-radius: 5px;
  color: white;
}

.disbursement-form {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
  position: fixed;
  margin-left: 1000px;
}

.disbursement-form h2 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.list-item {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-item p {
  margin: 5px 0;
  color: #444;
}