body {
  margin: 0;
  padding-top: 40px;
  color: #2e323c;
  background: #f5f6fa;
  position: relative;
  height: 100%;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  border-radius: 50%; /* Changed the border-radius property */
}

.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}

.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}

.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}

.account-settings .about p {
  font-size: 0.825rem;
}

.form-control {
  border: 1px solid #cfd1d8;
  border-radius: 2px;
  font-size: 0.825rem;
  background: #ffffff;
  color: #2e323c;
}

.card {
  background: #ffffff;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

.custom-spacing {
  margin-top: 20px; /* Adjust the margin-top value as needed */
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profilePicture {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the values based on your preference */
  padding: 10px; /* Add padding to make the shadow more visible */
}




.input-label {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

.custom-input {
  font-size: 14px;
  padding: 12px;
  border: 1px solid #4CAF50; /* Green border */
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border don't increase the width */
  transition: border-color 0.3s ease-in-out; /* Add a smooth transition effect */
}

.custom-input:focus {
  outline: none;
  border-color: #2E8B57; /* Darker green on focus */
  box-shadow: 0 0 8px rgba(46, 139, 87, 0.5); /* Light shadow on focus */
}
